 /* .website-description {
    font-size: 15px;
    color: white;
    font-size: 3rem;
    margin: 25%; 
    background-color: rgb(65, 65, 65);
}  */



.panel-wrapper {
    display: grid;
    grid-template-columns: 50% 50%; 
}

h2 {
    clear: both;
    line-height: 1.4;
    margin: 0 0 0.75em;
    margin-bottom: 0.75em;
    padding: 1.5em 0 0;
    padding-top: 1.5em;
}


  